Options +SymLinksIfOwnerMatch

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP:Authorization} .+
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_URI} !^public
	RewriteRule ^ index.php [L]
</IfModule>


RewriteEngine On

RewriteRule ^ index.php [L]